*{
	box-sizing: border-box;
}

h1{
	text-align: center;
	font-size: 175%;
	padding-top: 40px;
}

section{
	width: 33%;
	float: left;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;			
}

section>p{
	position: relative;
	padding: 15px;
	padding-top: 57px;
	border: 1.5px solid black;
	background-color: #E8E0FF;
	height: auto;			
}
		
span{
	font-size: 125%;
	border: 1.5px solid black;
	border-top: 0;
	border-right: 0;
	font-weight: bold;
	padding: 10px;
	padding-right: 14px;
	padding-left: : 14px;
	float: left;
	position: absolute;
	right: 0;
	top: 0;
	color: white;
	width: 40%;
	text-align: center;
	overflow: auto;
}

body{
	padding: 1%;
	background-image: url('herb2.jpg');
	font-family: Georgia, serif;
}

#h-1{
	background-color: #754224;
}
#h-2{
	background-color: #484D0B;
}
#h-3{
	background-color: #571924;
}


/******** tablet**********/
@media (max-width: 992px) and (min-width: 768px){
	#sec3{
		clear: left;
		width: 100%;
		padding-top: 0px;
	}
	#sec1,#sec2{
		width: 50%;
		padding-bottom: 10px;
	}
	#h-1,#h-2,#h-3{
		width: 40%;
	}
}

/******** mobile**********/
@media (max-width: 767px){
	#sec1,#sec2,#sec3{
		padding: 20px;
		padding-bottom: 0;
		padding-top: 0;
		width: 100%;
	}
	span{
		width: 30%;
	}			
}