body {
  font-size: 16px;
  color: #fff;
  background-color: #363636;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #474747 ;
  border-radius: 0;
  border: 0;
}

#menu{
  padding-bottom: 20px;

}

.navbar-brand {
  padding-top: 25px;
}

#head-pad{
  padding-bottom: 20px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #FFD3B5;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #E8175D ;
  margin-top: 0;
  
  line-height: .75;
  padding-bottom: 20px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

h2{
  text-align: center;
  font-weight: bold;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
ul.navbar-nav{
  background-color: #99B898;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
/*color: #FFD3B5;*/

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFD3B5;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.menu-info-outer{
  background-color: #FFD3B5;
  margin-bottom: 50px;

}
.menu-info-inner{
  padding:15px;
  color: black;

}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #head-pad{
    padding-bottom: 0;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  .menu-info-outer{
    margin-left: 19px;
    margin-right: 19px;

  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

}
